{% extends "base.html" %}

{% block title %}Instrument: {{instrument.name}}{% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
    <p class="crumbs">
        <a href="{{ urls.instance() }}">home</a>
        | <a href="/-/instruments">instruments</a>
        | <a href="/-/measures">measures</a>
    </p>
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Instrument ID: {{instrument.name}}</h1>
<h1>Title: {{instrument.title}}</h1>
<h1>Description:</h1>
<p>{{instrument.description}}</p>
<h1>Instructions:</h1>
<p>{{instrument.instructions}}</p>
<br>
{% for item in instrument.items recursive %}
    {% if item.type == 'question' %}
    <div style="border-style: dashed; border-width: 3px; padding: 1em">
        <h2>
            {{item.prompt}} {% if item.column_info.type == 'index' %}(Index){% endif %}
        </h2>
        <p>Measure: <a href="/-/measures/{{ item.column_info.name|base_id }}#{{item.column_info.name}}">{{item.column_info.name}}</a></p>
        <p>Measure type: {{item.column_info.type}}</p>
        {% if item.column_info.type == 'ordinal' %}
        <table>
            <tr>
                <th>Value</th>
                <th>Tag</th>
                <th>Text</th>
            </tr>
            {% for row in item.column_info.codemap.values %}
            <tr>
                <td>{{row.value}}</td>
                <td>{{row.tag}}</td>
                <td>{{row.text}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endif %}
    {% if item.type == 'group' %}
    <div style="border-style: dashed; border-width: 3px; padding: 1em">
        <h2>{{item.prompt}}</h2>
        <p>{{item.id}}</p>
        {{ loop(item.items) }}
    </div>
    {% endif %}
{% endfor %}

{% endblock %}