.doit-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.doit-header {
    margin: 0 auto;
    max-width: 768px;
    border-bottom: 3px solid #444;
    margin-bottom: 1em;
    letter-spacing: .05em;
}

.doit-group {
    border-bottom: 3px solid #eee;
}

.doit-item {
    padding: 1em;
}

.doit-unlinked-item {
    opacity: 0.4;
}

.doit-item-col {
    text-align: center;
}

.doit-instrument-map {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.doit-instrument-map-table {
    display: none;
    background-color: white;
}

.doit-instrument-map:hover + .doit-instrument-map-table {
    position: absolute;
    display: block;
    z-index: 1000;
}

header .crumbs-right {
    float: right;
    margin-right: 1em;
}