{% extends "base.html" %}

{% block title %}Instrument: {{instrument.name}}{% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
    <p class="crumbs">
        <a href="{{ urls.instance() }}">home</a> /
        <a href="/-/instruments">instruments</a> /
        <a href="/-/instruments/{{instrument.name}}">{{instrument.title}}</a>
    </p>
    {{ super() }}
{% endblock %}

{% block content %}
<div class="doit-main">
    <div class="doit-header">
        <h1>{{instrument.title}}</h1>
        <h2>Description:</h2>
        <p>{{instrument.description}}</p>
        <h2>Instructions:</h2>
        <p>{{instrument.instructions}}</p>
    </div>
    {% for item in instrument.nodes recursive %}
        {% if item.type == 'question' %}
            {% if item.column_info.name %}
            <div class="pure-g doit-item">
            {% else %}
            <div class="pure-g doit-item doit-unlinked-item">
            {% endif %}
                <div class="pure-u-1-3 doit-item-col">
                    <a href="/-/measures/{{ item.column_info.name|base_id }}#{{item.column_info.name}}">{{item.column_info.name}}</a>
                </div>
                <div class="pure-u-1-3">
                    {{item.prompt}}
                </div>
                <div class="pure-u-1-3 doit-item-col">
                    {{item.column_info.value_type}}
                    {% if item.map %}
                    <span class="doit-instrument-map">(map)</span>
                    <div class="doit-instrument-map-table">
                        <table class="pure-table pure-table-horizontal">
                        <thead>
                            <tr>
                                <th>Instrument Text</th>
                                <th>Measure Tag</th>
                                <th>Measure Value</th>
                                <th>Measure Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, tag in item.map.items() %}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{tag}}</td>
                                <td>{% if item.column_info.codes %}{{item.column_info.codes.value_from_tag[tag] }}{% endif %}</td>
                                <td>{% if item.column_info.codes %}{{item.column_info.codes.label_from_tag[tag] }}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if item.type == 'group' %}
        <div class="doit-group">
            {% if item.title %}<h2>{{item.title}}</h2>{% endif %}
            {% if item.prompt %}<h3>{{item.prompt}}</h3>{% endif %}
            {{ loop(item.items) }}
        </div>
        {% endif %}
        {% if item.type == 'constant' %}
        <div class="pure-g doit-item">
            <div class="pure-u-1-3">
            Constant value: {{ item.constant_value }}
            </div>
            <div class="pure-u-1-3 doit-item-col">
            {{ item.column_info.name }}
            </div>
            <div class="pure-u-1-3 doit-item-col">
            {{item.column_info.value_type}}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}