{% extends "base.html" %}

{% block title %}Instrument: {{instrument.name}}{% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
    <p class="crumbs">
        <a href="{{ urls.instance() }}">home</a> /
        <a href="/-/instruments">instruments</a> /
        <a href="/-/instruments/{{instrument.name}}">{{instrument.title}}</a>
    </p>
    {{ super() }}
{% endblock %}

{% block content %}
<div class="doit-main">
    <div class="doit-header">
        <h1>Title: {{instrument.title}}</h1>
        <h2>Instrument ID: {{instrument.name}}</h1>
        <h2>Description:</h1>
        <p>{{instrument.description}}</p>
        <h2>Instructions:</h1>
        <p>{{instrument.instructions}}</p>
    </div>
    {% for item in instrument.nodes recursive %}
        {% if item.type == 'question' %}
            {% if item.column_info.name %}
            <div class="pure-g doit-item">
            {% else %}
            <div class="pure-g doit-item doit-unlinked-item">
            {% endif %}
                <div class="pure-u">
                    <h3>{{item.prompt}}</h3>
                    <p>Linked Measure: <a href="/-/measures/{{ item.column_info.name|base_id }}#{{item.column_info.name}}">{{item.column_info.name}}</a></p>
                    <p>Linked Measure type: {{item.column_info.value_type}}</p>
                </div>
                <div class="pure-u">
                    {% if item.map %}
                    <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Instrument Text</th>
                            <th>Measure Tag</th>
                            <th>Measure Value</th>
                            <th>Measure Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, tag in item.map.items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{tag}}</td>
                            <td>{% if item.column_info.codes %}{{item.column_info.codes.value_from_tag[tag] }}{% endif %}</td>
                            <td>{% if item.column_info.codes %}{{item.column_info.codes.label_from_tag[tag] }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if item.type == 'group' %}
        <div class="doit-group">
            {% if item.title %}<h2>{{item.title}}</h2>{% endif %}
            {% if item.prompt %}<h3>Group prompt: {{item.prompt}}</h3>{% endif %}
            {{ loop(item.items) }}
        </div>
        {% endif %}
        {% if item.type == 'constant' %}
        <div class="doit-item">
            <h2>{{ item.column_info.name }}</h2>
            <p>Value: {{ item.constant_value }}</p>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}