{% extends "base.html" %}

{% block title %}Measure: {{measure.name}}{% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
    <p class="crumbs">
        <a href="{{ urls.instance() }}">home</a> /
        <a href="/-/measures">measures</a> /
        <a href="/-/measures/{{measure.name}}">{{measure.title}}</a>
    </p>
    {{ super() }}
{% endblock %}

{% block content %}
<div class="doit-main">
    <div class="doit-header">
        <h1>{{measure.title}}</h1>
        <h2>Measure ID: {{measure.name}}</h2>
        <h2>Description:</h2>
        <p>{{measure.description}}</p>
    </div>
    {% for item in measure.items recursive %}
        {% if not item.value_type %}
        <div id="{{item.name}}" class="doit-group">
            <h2>{{item.name}} {% if item.prompt %}: {{item.prompt}} {% endif %}</h2>
            {{ loop(item.items) }}
        </div>
        {% else %}
        <div id="{{item.name}}" class="doit-item pure-g">
            <div class="pure-u-1-2">
                <h2>
                    {{item.prompt}} {% if item.is_idx %}(Index){% endif %}
                </h2>
                <p>Measure: {{item.name}}</p>
                <p>Measure type: {{item.value_type}}</p>
            </div>
            <div class="pure-u-1-2">
                {% if item.codes %}
                <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Tag</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in item.codes.values %}
                    <tr>
                        <td>{{row.value}}</td>
                        <td>{{row.tag}}</td>
                        <td>{{row.text}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}