{% extends "base.html" %}

{% block title %}Measure: {{measure.name}}{% endblock %}

{% block body_class %}index{% endblock %}

{% block nav %}
    <p class="crumbs">
        <a href="{{ urls.instance() }}">home</a> /
        <a href="/-/measures/{{measure.name}}">{{measure.title}}</a>
    </p>
    {{ super() }}
{% endblock %}

{% block content %}
<div class="doit-main">
    <div class="doit-header">
        <h1>{{measure.title}} <a href="/{{database}}/{{measure.name}}" class="doit-data-icon">📊</a></h1>
        <h2>Description:</h2>
        {% if measure.description %}
            {% for line in measure.description.splitlines() %}
                <p>{{line}}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% for item in measure.items recursive %}
        {% if not item.value_type %}
            {% if not item.composite_type %}
            <div id="{{item.name}}" class="doit-group">
                {% if item.prompt %}
                    {% for line in item.prompt.splitlines() %}
                        <h3>{{line}}</h3>
                    {% endfor %}
                {% endif %}
                {{ loop(item.items) }}
            {% else %}
                <div id="{{item.name}}" class="doit-item pure-g">
                    <div class="pure-u-1-3 doit-item-col">
                        {{item.name}}
                    </div>
                    <div class="pure-u-1-3">
                    {% if item.title %}
                        {% for line in item.title.splitlines() %}
                            <p>{{line}}</p>
                        {% endfor %}
                    {% endif %}
                    <p>({% for dep in item.dependencies %}{{dep}} {% endfor %})</p>
                    </div>
                    <div class="pure-u-1-3 doit-item-col">
                        {{item.composite_type}}
                    </div>
                </div>
                
            {% endif %}
        </div>
        {% else %}
        <div id="{{item.name}}" class="doit-item pure-g">
            <div class="pure-u-1-3 doit-item-col">
                {{item.name}}
            </div>
            <div class="pure-u-1-3">
            {% if item.prompt %}
                {% for line in item.prompt.splitlines() %}
                    <p>{{line}}</p>
                {% endfor %}
                {% if item.is_idx %}(Index){% endif %}
            {% endif %}
            </div>
            <div class="pure-u-1-3 doit-item-col">
                {{item.value_type}}
                {% if item.codes %}
                <span class="doit-instrument-map">(map)</span>
                <div class="doit-instrument-map-table">
                    <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Tag</th>
                            <th>Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in item.codes.values %}
                        <tr>
                            <td>{{row.value}}</td>
                            <td>{{row.tag}}</td>
                            <td>{{row.text}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}