{% extends "base.html" %}

{% block title %}Measure Listing{% endblock %}

{% block nav %}
    <p class="crumbs">
        <a href="{{ urls.instance() }}">home</a> /
        <a href="/-/measures">measures</a>
    </p>
    {{ super() }}
{% endblock %}

{% block body_class %}index{% endblock %}
{% block content %}
<h1>Measure Listing</h1>

{% for measure in listing.items %}
    <h2><a href="/-/measures/{{measure.name}}">{{measure.title}}</a></h2>
{% endfor %}

{% endblock %}